<div class="StepProduct">
    <b-container>
        <b-row align-v="start" class="mb-2">
            <b-col cols="10">
                <h3>{{handleTitleText}}</h3>
            </b-col>
            <b-col cols="2 text-center">
                <b-img id="btn-go-to-cart" class="shoppingImg" :src="ShoppingLogo" fluid alt="Fluid image"></b-img>
                <p  @click="cardClick" class="count-number">{{doneProductCount}}</p>
            </b-col>
        </b-row>
        <FilterCategory 
            :data="doneCategories"
            :handleFilter="handleFilterProduct"
        />
        <h3 class="text-center mt-5" v-if="doneFilterProductList.length === 0 && filterList.length > 0">
            Sorry, we couldn't find any product
        </h3>
        <ProductList 
            :data="doneFilterProductList.length > 0 || filterList.length > 0 ? doneFilterProductList : productList"
            :handleChange="handleChangeProduct"
        />
    </b-container>
    <div class="button-container">
        <b-button 
            id="btn-step-meal"
            class="btn-stepper"
            :disabled="productSelected.length === 0"
            @click="handleClick"
            block
            variant="danger"
        >
        NEXT
        </b-button>
    </div>
</div>