<div class="ProductList" style="margin-top: 10px; margin-bottom: 90px">
    <b-row>
        <b-col cols="12" v-for="(eachProduct, index) in data" :key="eachProduct.id">
            <Product 
                :dataProduct="eachProduct"
                :handleChange="(product) => handleChangeProduct(product, index)"
                :disableBtn="disableAction"
            />
        </b-col>
    </b-row>
</div>