@import '~@i2tic-ikeafood/ikea-styles';

.Product {
  background: #f0f0f0;
  border: 1px solid #dfdfdf;

  .img-product {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }

  .btn-round {
    width: 36px;
    height: 27px;
    border-radius: 20px;
    padding: 0;

    span {
      display: flex;
      width: 100%;
      justify-content: center;
      height: 100%;
      align-items: flex-start;
    }
  }

  .product-qty {
    padding: 0 12px;
  }

  .content-product {
    padding: 10px 15px 10px 0;
  }

  h4 {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: $colour-grey-900;
    text-transform: capitalize;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    color: $colour-grey-900;
  }
}
