<div class="OrderConfirmed d-flex align-items-center">
    <b-container>
        <b-row>
            <b-col cols="12" class="text-center">
                <h2>{{message}}</h2>
            </b-col>
            <b-col cols="12" class="text-center">
                <b-img :src="image" fluid alt="Fluid image"></b-img>
            </b-col>
        </b-row>
    </b-container>
    <div class="button-container">
        <b-button id="btn-done-cart" @click="handleClick" block variant="danger">DONE</b-button>
    </div>
</div>
