<div class="QuestionAnswer">
    <b-row>
        <b-col cols="10">
            <h4>{{title}}</h4>
        </b-col>
        <b-col cols="2" class="text-right">
            <b-icon 
                aria-controls="collapse-1"
                @click="visible = !visible"
                icon="chevron-down"
                font-scale="2"
                class="icon"
                :class="{ rotate: visible }"
            ></b-icon>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12">
            <b-collapse id="collapse-1" v-model="visible" class="mt-2">
                <b-row>
                    <b-col cols="12">
                        <small>
                            {{content}}
                        </small>
                    </b-col>
                </b-row>
            </b-collapse>
        </b-col>
    </b-row>
</div>