@import '~@i2tic-ikeafood/ikea-styles';
@import 'hooper/dist/hooper.css';

.FilterCategory {
  height: auto;

  .Pill {
    padding-right: 10px;

    button {
      width: 100% !important;
    }
  }
}
