<div class="OrderCheck">
    <b-badge class="notification" :variant="typeNotification.color">
        {{typeNotification.title}}
        <b-img class="notification--icon" :src="typeNotification.icon" fluid alt="Fluid image">
        </b-img>
    </b-badge>
    <b-row>
        <b-col cols="12">
            <h4>{{data.day}}</h4>
        </b-col>
        <b-col cols="8">
            <p>{{data.time_slot}}</p>
        </b-col>
        <b-col cols="4" class="text-right">
            <b-icon 
                aria-controls="collapse-1"
                @click="visible = !visible"
                icon="chevron-down"
                font-scale="2"
                class="icon"
                :class="{ rotate: visible }"
            ></b-icon>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12">
            <b-collapse id="collapse-1" v-model="visible" class="mt-2">
                <b-row>
                    <b-col 
                        cols="12"
                        v-for="eachProduct in data.items"
                        :key="eachProduct.id"
                        class="mt-2 mb-2"
                    >
                        <ProductDetail 
                            :dataProduct="eachProduct"
                            :availability="eachProduct.availability"
                        />
                    </b-col>
                    <b-col cols="12" class="mt-3">
                        <div class="d-flex justify-content-end">
                            <h4 class="mr-3">Total:</h4>
                            <h4>{{total}} €</h4>
                        </div>
                    </b-col>
                </b-row>
                <div v-if="data.status !== 'pickup' ">
                    <b-button @click="openModal" class="mt-4 mb-3 btn-out" block variant="outline-danger">Cancel my order</b-button>
                    <b-button
                        id="btn-confirm-order"
                        @click="() => data.status === 'confirmed' ?  handleClick('pick_up') : handleEditBtn(data)"
                        :disabled="statusPickUp"
                        class="mt-3" 
                        block
                        variant="danger"
                    >
                        {{data.status === 'confirmed' ? 'Confirm pickup' : 'Edit Order'}}
                    </b-button>
                </div>
            </b-collapse>
        </b-col>
    </b-row>
    <ModalConfirmation
        title="Are you sure that you want to cancel your order?"
        :showModal="modal"
        :handleYes="() => handleClick('cancel')"
        @close="handleCloseModal"
    />
</div>