.feedback {
  .icon {
    width: 50px;
    cursor: pointer;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
  }

  h5 {
    text-align: center;
  }

  .selected {
    filter: invert(27%) sepia(86%) saturate(2243%) hue-rotate(84deg) brightness(98%) contrast(106%);
  }
}
