@import '~@i2tic-ikeafood/ikea-styles';

.QuestionAnswer {
  border: 1px solid $colour-grey-200;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 0;

  .icon {
    margin-top: -5px;
    transition: transform 0.5s;
  }

  .rotate {
    transform: rotateZ(180deg);
  }
}
