<div class="layoutMain">   
    <Header 
        :image='logoSrc'
        :btnText="doneCountActiveOrders === 0 ? 'You don´t have orders' : 'You have ' + doneCountActiveOrders + ' active ' + handleOrderText "
        :btnState="doneCountActiveOrders > 0"
        :btnAction="goToActiveOrders"
        :clickLogo="goToHomePage"
    />
    <router-view></router-view>
    <div class="container-loader" v-if="doneFetchStatus">
        <div class="loader">
            <b-spinner
            style="width: 3rem; height: 3rem;"
            label="Large Spinner"
            type="grow"
            variant="#0058a3"
            >
            </b-spinner>
        </div>
    </div>
    <Cookies />
</div>