@import '~@i2tic-ikeafood/ikea-styles';

.Pill {
  button {
    padding: auto 20px;
    border-radius: 20px;
    background: #f0f0f0;
    border: 1px solid #dfdfdf;
    color: $colour-grey-900;

    &.btn-sm {
      padding: 3px 10px;
      font-size: 13px;
    }

    &.btn-md {
      font-size: 14px;
    }

    &:hover {
      background: #f0f0f0;
      border: 1px solid #dbdbdb;
      color: #000;
    }

    &.active {
      background: #0058a3;
      color: #fff;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }

    &:disabled {
      opacity: 0.5;
    }

    .badge {
      margin-left: 5px;
      background: $red;
      color: $white;
    }
  }
}
