<div 
    @click="handleLogOut" 
    class="LogOutButton d-flex justify-content-center align-items-center h-100"
>
    <b-button id="btn-log-out">
        Log Out
        <b-img :src="LogOutIcon" fluid alt="Fluid image"></b-img>   
    </b-button>
</div>
