<div class="ProductDetail" :class="{'ProductDetail--disabled': !availability}">
    <b-row>
        <b-col cols="4">
            <b-img :src="dataProduct.picture" fluid class="img-product" alt="Fluid image"></b-img>
        </b-col>
        <b-col cols="5" class="p-0" align-self="stretch">
            <div class="d-flex flex-column justify-content-center h-100">
                <div>
                    <h4>{{dataProduct.name}}</h4>
                    <p>{{dataProduct.price}} €</p>
                </div>
            </div>
        </b-col>
        <b-col cols="3" class="pl-4">
            <div class="box-count">
                <p>{{dataProduct.quantity}}</p>
            </div>
        </b-col>
    </b-row>
</div>