<div class="Pill">
    <b-button 
        variant="none" 
        :size="size"
        :disabled="badge === '0'"
        :class="{active: isActive}"
        @click="onClickButton"
        :id="idBtn">
            {{buttonText}}
            <b-badge v-if="badge" pill variant="none">{{badge}}</b-badge>
    </b-button>
</div>
