@import '~@i2tic-ikeafood/ikea-styles';

.app {
  header {
    margin: 20px 0 20px 0;

    .btn-outline {
      height: 38px;
      background: #fff;
      border-color: #dfdfdf;
      border-width: 1px;
      border-radius: 15px;
      font-size: 12px;
      color: #484848;
    }
  }

  .container-home {
    margin-bottom: 90px;
  }

  .button-container {
    position: fixed;
    width: 100%;
    bottom: 0;

    button {
      border-radius: 0;
      padding: 15px;
      font-weight: bold;
      line-height: 10px;

      &.btn-stepper:disabled {
        opacity: 1;
        border: 1px solid rgb(221, 221, 221);
        background-color: rgb(221, 221, 221);
        color: #939393;
      }
    }
  }
}

.container-loader {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 999;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blue;
  }
}
