<div class="Opinion">
    <b-container>
        <b-row class="mb-3">
            <b-col cols="12">
                <h2 class="text-center">We value your feedback</h2>
            </b-col>
        </b-row>
        <b-row class="mt-4">
            <b-col cols="12" class="mb-2">
                <Feedback 
                    title="How do you value this App?"
                    class="mb-4"
                    @getvalue="(e) => handleFeedback(e, 1)"
                />
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <p>Let us know how to improve</p>
            </b-col>
            <b-col cols="12">
                <b-form-textarea
                    id="textarea-auto-height"
                    placeholder="Please, share your feedback..."
                    rows="6"
                    max-rows="8"
                    v-model="feedbackText"
                ></b-form-textarea>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="text-right mt-2">
                <small 
                    id="btn-skip-feedback"
                    class="mt-3 font-weight-bold"
                    @click="$router.push(URL_CONSTANT.home)"
                >
                Skip
                </small>
            </b-col>
        </b-row>
    </b-container>
    <div class="button-container">
        <b-button @click="sendFeedback" block variant="danger">Send your feedback</b-button>
    </div>
</div>