<div class="Stepper">
    <b-container v-if="actualStep !== 5">
        <b-row>
            <b-col cols="12" style="margin-bottom:30px">
                <BarOption 
                    :handleBack="handleBack"
                    :disabledBack="handleBackProductList"
                />
            </b-col>
        </b-row>
    </b-container>
    <!-- Primer paso -->
    <StepDay 
        v-if="actualStep === 1"
        :next="handleNext"
    />
    <!-- Segundo paso -->
    <StepTime 
        v-if="actualStep === 2"
        :next="handleNext"
    />
    <!-- Tercer paso -->
    <StepProducts
        v-if="actualStep === 3"
        :next="handleNext"
    />
    <!-- Cuarto Paso -->
    <StepCart 
        v-if="actualStep === 4"
        :next="creationOfOrder"
        :back="handleBack"
        :edit="editOrder"
    />
    <OrderConfirmed 
        v-if="actualStep === 5"
        :image="orderImage"
        :handleClick="finalStep"
        :message="orderMessage"
    />

</div>