.TimeList {
  button {
    width: 100%;
  }

  .Pill {
    margin: 5px 0;
  }
  //Algo así sería...
  .col-6:nth-child(odd) {
    padding-right: 5px;
  }

  .col-6:nth-child(even) {
    padding-left: 5px;
  }
}
