.StepProduct {
  .count-number {
    position: absolute;
    top: 8px;
    color: red;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
  }

  .shoppingImg {
    max-width: 32px;
  }
}
