<div class="Home">
    <b-container>
        <b-row class="mb-3">
            <b-col cols="6">
                <small 
                    class="faqBtn"
                    @click="$router.push(URL_CONSTANT.faq)"
                    id="btn-more-info"
                >
                    More Info
                </small>
            </b-col>
            <b-col cols="6">
                <LogOutButton />
            </b-col>
        </b-row>
    </b-container>
    <div class="d-flex align-items-center min-vh-home">
        <b-container class="container-home">
            <b-row class="mb-5">
                <b-col cols="12" class="p-0">
                    <div class="velo">
                        <h1>The CanteenApp</h1>
                    </div>
                    <b-img :src="imgHero" fluid alt="Fluid image"></b-img>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12">
                    <div class="steps">
                        <ul>
                            <li>Select a day</li>
                            <li>Select a time</li>
                            <li>Select your meal</li>
                            <li>Enjoy tasty food</li>
                            <li>Reduce waste</li>
                        </ul>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
    <div class="button-container">
        <b-button 
            :disabled="!doneSelectionAllowed" 
            @click="$router.push(URL_CONSTANT.stepper)" 
            block 
            variant="danger"
            id="btn-step-start"
        >
        START
        </b-button>
    </div>
</div>