<div class="StepTime">
    <b-container>
        <b-row>
            <b-col cols="12">
                <h3>2. Select a time</h3>
                <p>You are preordering for {{doneSelectionDayPrint}}</p>
            </b-col>
            <b-col cols="12">
                <b-form-checkbox v-model="takeaway" name="check-button" switch size="lg">
                    <p>Take away</p>
                </b-form-checkbox>
            </b-col>
        </b-row>
        <TimeList 
            :data="doneTimeList"
            :handleChange="handleChangeTimeValue"
            :noBadge="takeaway"
        />
    </b-container>
    <div class="button-container">
        <b-button 
            class="btn-stepper"
            :disabled="timeSelected === ''" 
            @click="handleClick" 
            block 
            variant="danger"
            id="btn-step-hour"
        >
        NEXT
        </b-button>
    </div>
</div>