@import '~@i2tic-ikeafood/ikea-styles';

.ProductDetail {
  background: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;

  .img-product {
    width: 100%;
    height: 60px;
    object-fit: cover;
  }

  h4 {
    overflow: hidden;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    color: $colour-grey-900;
  }

  p {
    font-size: 13px;
    color: #6a6a6a;
    margin: 0;
  }

  .box-count {
    background: #e00751;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 0 0 17px -3px #000;
    box-shadow: 0 0 17px -3px #000;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      text-align: center;
      font-size: 17px;
    }
  }
}

.ProductDetail--disabled {
  opacity: 0.5;
}
