.LogOutButton {
  justify-content: flex-end !important;
  cursor: pointer;

  #btn-log-out {
    display: inherit;
    height: auto;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    font-weight: bold;
    font-size: 80%;

    img {
      width: 20px;
      margin-left: 3px;
    }
  }
}
