<div class="Cookies" :class="{ noCookies: visible }">
    <b-container>
        <div 
            class="closeBtn"
            @click="closeBtn"
        >
            X
        </div>
        <b-col cols="12">
            <p class="text-center">This website uses cookies to ensure you get the best experience on our website. Learn more</p>
        </b-col>
        <b-col cols="12" class="text-center">
            <b-button @click="setCookies" variant="danger">Acceptar Cookies</b-button>
        </b-col>
    </b-container>
</div>