// Define variable defaults
$body-bg: #fff;

$blue: #0058a3;
$yellow: #ffdb00;
$red: #e00751;

$colour-grey-100: #f0f0f0;
$colour-grey-200: #dfdfdf;
$colour-grey-700: #484848;
$colour-grey-900: #111;

$colour-text-dark: $colour-grey-900;
$colour-text: $colour-grey-700;
$colour-text-lightest: #767676;

$body-color: $colour-text;

$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 14px;

$container-max-widths: (
  sm: 540px,
  md: 540px,
  lg: 540px,
  xl: 540px
) !default;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colour-text-dark;
}

h1 {
  line-height: 42px;
}

h2 {
  line-height: 32px;
}

h3 {
  line-height: 28px;
}

h4 {
  line-height: 22px;
}

.btn {
  height: 48px;
  border-radius: 20px;
}

.btn-cancel {
  background-color: $colour-grey-100;
  border: 1px solid #DBDBDB;
  color: $colour-grey-900;
}