<hooper 
    class="FilterCategory"
    :itemsToShow="3.5"
    pagination="no"
    :trimWhiteSpace="true"
>
    <slide v-for="(category, index) in data" key="category.id">
        <Pill 
            :buttonText="category.name"
            :value="category.id.toString()"
            size="sm"
            @getvalue="(e) => handleSelectCategory(e, index)"
            :isActive="selected[index] === category.id.toString() ? true : false"
            :idBtn="'btn-filter-' + category.name.toLowerCase()"
        />
    </slide>
</hooper>
