.Cookies {
  position: fixed;
  bottom: 0;
  background: rgba(0, 88, 163, 0.8);
  padding: 40px 0;
  color: white;
  width: 100%;
  opacity: 1;
  transition: opacity 2s ease-out;

  button {
    border-radius: 5px;
  }

  .closeBtn {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .closeBtn:active {
    font-weight: bold;
  }
}

.noCookies {
  opacity: 0;
  display: none;
}
