@import '~@i2tic-ikeafood/ikea-styles';

.OrderCheck {
  border: 1px solid $colour-grey-200;
  border-radius: 10px;
  padding: 20px;

  .ProductList {
    margin-bottom: 10px !important;
  }

  .btn-out {
    color: $colour-grey-900;
  }

  .btn-out:hover {
    color: white;
  }

  .icon {
    transition: transform 0.5s;
  }

  .rotate {
    transform: rotateZ(180deg);
  }

  .notification {
    position: absolute;
    right: 20px;
    top: -8px;

    &--icon {
      width: 20px;
    }
  }
}
