<div class="Faq">
    <b-container>
        <b-row>
            <b-col cols="12" style="margin-bottom:30px">
                <BarOption 
                    :handleBack="() => $router.push(URL_CONSTANT.home)"
                />
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <h2 class="text-center">Frequently Asked Questions</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" v-for="(each, index) in FAQ" :key="index">
                <QuestionAnswer 
                    :title="each.title"
                    :content="each.content"
                />
            </b-col>
        </b-row>
    </b-container>
</div>