<b-modal
    hide-footer
    hide-header
    centered
    v-model="modalShow"
    @hidden="sendClose"
>
    <h3 class="text-center my-5">{{title}}</h3>
    <div class="d-flex justify-content-around my-5">
        <b-button
            class="w-100 mx-1 btn-cancel"
            variant="outline-secondary"
            @click="modalShow = !modalShow"
        >
        No, don´t cancel
        </b-button>
        <b-button
            variant="danger"
            class="w-100 mx-1"
            @click="handleYes"
            id="btn-cancel-order"
        >
        Yes, cancel it
        </b-button>
    </div>
</b-modal>
