.StepCart {
  margin-bottom: 90px;

  .ProductList {
    margin-bottom: 20px !important;
  }

  .separator {
    border: 1px solid #dfdfdf;
    width: 100%;
    margin: 10px 0;
  }

  .container {
    button {
      height: 38px;
      border-radius: 5px;
    }
  }

  h4 {
    font-size: 16px;
  }
}
