<div class="TimeList" style="margin-top: 10px; margin-bottom: 90px">
    <b-row>
        <b-col cols="6" v-for="(eachTime, index) in data" :key="eachTime.time_slot">
            <Pill 
                :buttonText="eachTime.time_slot"
                :value="eachTime.time_slot"
                :badge="noBadge ? '' : eachTime.free_seats.toString()"
                @getvalue="(e) => handleSelectTime(e, index)"
                :isActive="indexTime === index"
            />
        </b-col>
    </b-row>
</div>