@import '~@i2tic-ikeafood/ikea-styles';

.StepDay {
  margin-bottom: 110px;

  .day-order {
    background-color: green !important;
  }

  .error-order {
    color: $red;
  }
}

.b-calendar-nav {
  .btn[aria-keyshortcuts=Home] {
    &::after {
      content: "TODAY";
      font-weight: bold;
    }

    div {
      display: none;
    }
  }
}
