@import '~@i2tic-ikeafood/ikea-styles';

.Home {
  .container-home {
    padding-top: 3.5px;
    margin-top: 4px;
  }

  .LogOutButton {
    justify-content: flex-end !important;
  }

  .faqBtn {
    color: $blue;
    font-weight: bold;
    cursor: pointer;
  }

  .velo {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(1, 1, 1, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: $white;
    }
  }

  .steps {
    display: flex;
    justify-content: center;
    width: 100%;

    ul {
      margin: 0;
      padding-left: 30px;
      list-style-type: none;

      li {
        counter-increment: myCounter;
        margin: 0 0 15px 0;
        padding: 7px 10px 2px 0;
        position: relative;
        padding-left: 26px;
        font-size: 16px;
        color: $colour-grey-900;
        font-weight: bold;

        &::before {
          width: 40px;
          height: 40px;
          content: counter(myCounter, decimal-leading-zero);
          display: inline-block;
          text-align: center;
          font-size: 18px;
          background-color: $yellow;
          padding: 6px 0;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: -26px;
          border-radius: 50%;
          color: $blue;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
