<div class="ActiveOrders">
    <b-container>
        <b-row>
            <b-col cols="12" style="margin-bottom:30px">
                <BarOption 
                    :handleBack="handleBack"
                />
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <h2>Active orders</h2>
            </b-col>
            <b-col cols=12>
                <h4>Pickup can only be confirmed while canteen is opened</h4>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="mb-4" v-for="eachOrder in doneActiveOrders" :key="eachOrder.id">
                <OrderCheck 
                    :data="eachOrder"
                    :handleAction="handleAction"
                    :handleStatus="handleStatus"
                    :handleEdit="handleEditOrer"
                />
            </b-col>
        </b-row>
    </b-container>
</div>