<header class="header">
    <b-container class="bv-example-row">
        <b-row>
            <b-col cols="4" class="m-auto">
                <div @click="clickLogo">
                    <b-img :src="image" fluid alt="Fluid image"></b-img>
                </div>
            </b-col>
            <b-col cols="8" class="m-auto">
                <b-button 
                    id="btn-active-orders"
                    class="btn-outline"
                    :class="btnState && 'btn-outline-red' "
                    block
                    @click="btnAction"
                >
                {{btnText}}
                </b-button>
            </b-col>
        </b-row>
    </b-container>
</header>