<div class="d-flex align-items-baseline" :class="{'justify-content-end': disabledBack, 'justify-content-between': !disabledBack}">
    <BackButton v-if="!disabledBack" :handleClick="handleBack"/>
    <LogOutButton/>
</div>