<div class="StepCart">
    <b-container>
        <b-row>
            <b-col cols="12">
                <h3>{{handleTitleText}}</h3>
                <p>{{textTypeOrder}}</p>
                <p>{{doneSelectionDayPrint}} at {{doneTimeSelected}}</p>
            </b-col>
        </b-row>
        <div class="separator"></div>
        <b-row class="mb-4">
            <b-col cols="12" class="mb-3">
                <div class="d-flex justify-content-between">
                    <h4 class="text-center">Your selection</h4>
                    <b-button id="btn-edit-cart" @click="back" variant="primary">
                        <b-icon 
                            icon="pencil-square"
                            font-scale="1"
                            class="icon"
                        ></b-icon>
                    </b-button>
                </div>
            </b-col>
            <b-col 
                cols="12"
                v-for="eachProduct in doneProductSelected"
                :key="eachProduct.id"
                class="mt-2 mb-2"
            >
                <ProductDetail 
                    :dataProduct="eachProduct"
                />
            </b-col>
            <b-col cols="12" class="mt-3">
                <div class="d-flex justify-content-end">
                    <h4 class="mr-3">Total:</h4>
                    <h4>{{total}} €</h4>
                </div>
            </b-col>
        </b-row>
        <div class="separator"></div>
        <b-row class="mt-2">
            <b-col cols="12">
                <p>Can we do anything else for you?</p>
            </b-col>
            <b-col cols="12">
                <b-form-textarea
                    id="textarea-auto-height"
                    placeholder="Let us know how to help you..."
                    rows="6"
                    max-rows="8"
                    v-model="observations"
                ></b-form-textarea>
            </b-col>
        </b-row>
    </b-container>
    <div class="button-container">
        <b-button 
            class="btn-stepper"
            @click="handleClick"
            block
            variant="danger"
            id="btn-step-cart"
        >
        {{doneEditStatus ?  'UPDATE YOUR MEAL' : 'ORDER YOUR MEAL'}}
        </b-button>
    </div>
</div>