<div class="StepDay">
    <b-container>
        <b-row>
            <b-col cols="12">
                <h3>1. Select a day</h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="text-center">
                <h4 v-if="errorOrder" class="mt-4 text-center error-order">The day selected already have a order</h4>
                <b-calendar 
                    v-if="doneCalender.length > 0"  
                    v-model="day"
                    block
                    :date-info-fn="dateClass"
                    :date-disabled-fn="dateDisabled" 
                    locale="en"
                    start-weekday="1"
                    label-help=""
                >
                </b-calendar>
            </b-col>
        </b-row>
    </b-container>
    <div class="button-container">
        <b-button 
            @click="handleClick" 
            :disabled="status" 
            class="btn-stepper" 
            block 
            variant="danger"
            id="btn-step-day"
        >
        NEXT
        </b-button>
    </div>
</div>