<div class="feedback">
    <h5>{{title}}</h5>
    <div class="flex-row">
        <b-img
            v-for="(item, index) in ratingImage"
            :key="index"
            :src="item" 
            fluid 
            alt="Fluid image"
            class="icon"
            :class="{'selected': index === selection}"
            @click="() => handleSelection(index)"
        ></b-img>
    </div>
</div>