<div class="Product">
    <b-row class="align-items-center">
        <b-col cols="4 pr-0">
            <b-img :src="handleImage" fluid class="img-product" alt="Fluid image"></b-img>
        </b-col>
        <b-col cols="8">
            <div class="d-flex flex-column justify-content-between h-100">
                <div class="content-product">
                    <h4>{{dataProduct.name}}</h4>
                    <p class="d-inline-flex">{{dataProduct.price}} €</p>
                    <div class="d-inline-flex float-right justify-content-center">
                        <b-button :disabled="disableBtn" @click="subquantity" class="btn-round add-card" variant="danger"><span>-</span></b-button>
                        <div class="product-qty">{{dataProduct.quantity}}</div>
                        <b-button :disabled="disableBtn" @click="addquantity" class="btn-round add-card" variant="danger"><span>+</span></b-button>
                    </div>
                </div>
            </div>
        </b-col>
    </b-row>
</div>