header {
  margin: 20px 0 20px 0;

  .btn-outline {
    height: 38px;
    background: #fff;
    border-color: #dfdfdf;
    border-width: 1px;
    border-radius: 15px;
    font-size: 12px;
    color: #484848;
  }

  .btn-outline-red {
    background-color: #e00751 !important;
    border-color: #e00751 !important;
    color: #fff !important;
  }
}
